<%= render 'shared/header_opaque' %>
<%= render partial: 'shared/metatags', locals: { seo: @seo } %>

<!-- Content -->
<div class="content clearfix">
	<!-- About Intro -->
	<div class="section-block clearfix no-padding-bottom">
		<div class="row">
			
			<div class="column width-10 offset-1 content-inner blog-regular">				
				<article class="post no-margin-bottom">
					<div class="post-content center">
						<h2 class="post-title">Artículos y rutas</h2>
						<div class="post-info actions">
							<p>Historias para caminar y descubrir la ciudad</p>
						</div>
						<br/>
					</div>
				</article>
							
			</div>
		</div>
	</div>
	
	<% @articles.each do |article| %>
		<%= render partial: 'articles/article', locals: { article: article, title: "Publicado hace #{distance_of_time_in_words_to_now(article.created_at)}" } %>
	<% end %>
	<div class="section-block no-padding no-margin">
		<div class="row flex">
			<div class="column width-8 push-2 center">
				<hr/>
				<p class="color-grey">No olvides visitar nuestra colección de fotografías que hablan del pasado de nuestra ciudad.</p>
				<a class="button medium bkg-theme bkg-hover-charcoal color-white color-hover-white text-uppercase" href="<%= pictures_path %>">Ir a nuestra colección</a>
			</div>
		</div>
	</div>
	<div class="section-block clearfix no-padding no-margin mt-60">
		<div class="post-info boxed">
			<div class="row">
				<div class="column width-6">
					<div class="actions">
						<%= link_to "".html_safe, root_path %>
					</div>
				</div>
				<div class="column width-6">
					<div class="actions pull-right">
						<%= render partial: 'shared/share_buttons', locals: { sharable_object: @seo } %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-block no-padding no-margin">
		<div class="row flex">
			<div class="column width-8">
				<%= render 'ads/bottom_ad' %>
			</div>
		</div>
	</div>
</div>