<li class="current">
	<%= link_to 'Inicio', root_path %>
</li>
<li>
	<%= link_to 'Las 10 de la semana', weekly_ten_path %>
</li>
<li class="contains-mega-sub-menu">
	<%= link_to 'Colonias', root_path %>	
</li>
<li>
	<%= link_to 'Artículos', root_path %>
</li>
<li class="sub-menu-right">
	<%= link_to 'Mapa', root_path %>
</li>