<%= render 'shared/header_opaque' %>
<%= render partial: 'shared/metatags', locals: { seo: @spot_picture } %>

<!-- Content -->
<div class="content clearfix">
	<!-- About Intro -->
	<div class="section-block clearfix no-padding-bottom">
		<div class="row">
			
			<div class="column width-9 content-inner blog-regular">
				<article class="post no-margin-bottom">
					<div class="post-media center">
						<div class="thumbnail gallery" itemscope itemtype="http://schema.org/ImageGallery">
							<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
								<a href="<%= @spot_picture.url %>" itemprop="contentUrl" data-size="1024x1024">
									<%= image_tag(@spot_picture.url, itemprop: "thumbnail") %>
								</a>
							</figure>
						</div>
					</div>
					<div class="post-content center">
						<h2 class="post-title"><%= @spot_picture.title %></h2>
						<%= render partial: 'shared/ownership_details', locals: { resource_name: "Publicada", resource: @spot_picture } %>
					</div>
					<br/>
					<div class="post-content center">
						<div class="row">
							<div class="column width-10 offset-1">
								<p><%= @spot_picture.description.html_safe %></p>
							</div>
						</div>
					</div>
				</article>
				
				<% unless @spot_picture.street_view_embed_url.nil? %>
					<%= @spot_picture.street_view_embed_url.html_safe %>
				<% end %>
				
			</div>
			<div class="column width-3">
				<div class="accordion style-2" data-toggle-icon="" data-toggle-multiple="">
					<ul>
						<li class="active">
							<a href="#accordion-map"><span class="icon-minus"></span>Ver Mapa</a>
							<div id="accordion-map" class="" style="height: 0px;">
								<div class="accordion-content">
									<div class="map-container" data-coordinates="[<%= @spot_picture.location %>]" data-icon='"<%= asset_url('map-marker.png')%>"' data-zoom-level="15" data-style="color">
										<div class="map-canvas" id="map-canvas-1"></div>
									</div>
								</div>
							</div>
						</li>
					</ul>
					<div class="post-info boxed">
						<div class="row">
							<div class="column width-12">
								<div class="actions">
									<b>TAGS: </b><%= tags_for(@spot_picture) %>
								</div>
							</div>
						</div>
						<hr/>
						<div class="row">
							<div class="column width-12">
								<div class="actions center">
									<p>Compartir en</p><%= render partial: 'shared/share_buttons', locals: { sharable_object: @spot_picture } %>
								</div>
							</div>
						</div>
						<hr/>
						<div class="row">
							<div class="column width-12">
								<div class="actions center">
									<%= link_to "<span class='icon-left-open-mini'></span> Atrás".html_safe, :back %>
								</div>
							</div>
						</div>
					</div>
				</div>
				<%= render 'ads/responsive_ad' %>
			</div>
		</div>
	</div>
	<div class="section-block clearfix no-padding-bottom">
		<div class="column width-10 push-1 content-inner blog-regular">
			<div class="row">
				<div class="fb-comments"
			   data-href="<%= seo_for_url(@spot_picture) %>"
			   data-width="100%"></div>
	 		 	</div>
			</div>
		</div>
 	</div>
	<hr class="post-finished-indicator" />
	<!-- About Intro End -->
	<%= render partial: 'related_pictures', 
						  locals: { title: "Este lugar en otros tiempos", pictures: @more_pictures_in_another_time } %>
	<%= render partial: 'related_pictures', 
							locals: { title: "Lugares cercanos", pictures: @spot_pictures_nearby } %>
	
</div>


