<%= render 'shared/header_opaque' %>
<%= render partial: 'shared/metatags', locals: { seo: @spot_picture } %>

<!-- Content -->
<div class="content clearfix">
	<!-- About Intro -->
	<div class="section-block clearfix no-padding-bottom">
		<div class="row">
			
			<div class="column width-10 offset-1 content-inner blog-regular">
				<div class="post-info boxed">
					<div class="row">
						<div class="column width-6">
							<div class="actions">
								<%= link_to "<span class='icon-left-open-mini'></span> Atrás".html_safe, :back %>
							</div>
						</div>
						<div class="column width-6">
							<div class="actions pull-right">
								<%= render partial: 'shared/share_buttons', locals: { sharable_object: @spot_picture } %>
							</div>
						</div>
					</div>
				</div>
				
				<article class="post no-margin-bottom">
					<div class="post-media center">
						<div class="thumbnail">
							<%= image_tag(@spot_picture.url) %>
						</div>
					</div>
					<div class="post-content center">
						<h2 class="post-title"><%= @spot_picture.title %></h2>
						<%= render partial: 'shared/ownership_details', locals: { resource_name: "Fotografía compartida", resource: @spot_picture } %>
					</div>
					<br/>
					<div class="post-content center">
						<div class="row">
							<div class="column width-10 offset-1">
								<p><%= @spot_picture.description.html_safe %></p>
							</div>
						</div>
					</div>
				</article>
				
				<div class="accordion style-2" data-toggle-icon="" data-toggle-multiple="">
					<ul>
						<li class="active">
							<a href="#accordion-2-panel-1"><span class="icon-minus"></span>Ver Mapa</a>
							<div id="accordion-2-panel-1" class="" style="height: 0px;">
								<div class="accordion-content">
									<div class="map-container" data-coordinates="[<%= @spot_picture.location %>]" data-icon='"<%= asset_url('map-marker.png')%>"' data-zoom-level="15" data-style="color">
										<div class="map-canvas" id="map-canvas-1"></div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				
				<% unless @spot_picture.street_view_embed_url.nil? %>
					<%= @spot_picture.street_view_embed_url.html_safe %>
				<% end %>
				
				<div class="post-info boxed">
					<div class="row">
						<div class="column width-12">
							<div class="actions">
								<b>TAGS: </b><%= tags_for(@spot_picture) %>
							</div>
						</div>
					</div>
				</div>
				
				<div class="fb-comments"
				   data-href="<%= seo_for_url(@spot_picture) %>"
				   data-width="100%"></div>
				
			</div>
		
		</div>
	</div>
	<hr class="post-finished-indicator" />
	<!-- About Intro End -->
	<%= render partial: 'related_pictures', 
						  locals: { title: "Este lugar en otros tiempos", pictures: @more_pictures_in_another_time } %>
	<%= render partial: 'related_pictures', 
							locals: { title: "Lugares cercanos", pictures: @spot_pictures_nearby } %>
	
</div>


