<%= render 'shared/header_opaque' %>

<!-- Content -->
<div class="content clearfix">
	<!-- About Intro -->
	<div class="section-block clearfix no-padding-bottom">
		<div class="row">
			
			<div class="column width-10 offset-1 content-inner blog-regular">
				<div class="post-info boxed">
					<div class="row">
						<div class="column width-6">
							<div class="actions">
								<%= link_to "<span class='icon-left-open-mini'></span> Atrás".html_safe, :back %>
							</div>
						</div>
						<div class="column width-6">
							<div class="actions pull-right">
								<span>COMPARTIR EN: </span> <%= link_to "Twitter".html_safe, :back %>&nbsp;&nbsp;
								<%= link_to "Facebook".html_safe, :back, class: 'main-action' %>
							</div>
						</div>
					</div>
				</div>
				
				<article class="post no-margin-bottom">
					<div class="post-content center">
						<h2 class="post-title"><%= @spot_picture.title %></h2>
						<div class="post-info actions">
							<span>Foto de <b><%= @spot_picture.year %></b></span>/
							<% if @spot_picture.has_owner? %>
								<span class="post-date">Posteada por <a href="#"><%= @spot_picture.user.name %></a></span>/
							<% end %>
							<span class="post-autor">Hace <%= distance_of_time_in_words_to_now(@spot_picture.created_at) %></span>
						</div>
					</div>
					<br/>
					<div class="post-content center">
						<div class="row">
							<div class="column width-10 offset-1">
								<p><%= @spot_picture.description.html_safe %></p>
							</div>
						</div>
					</div>
					<div class="post-media center">
						<div class="thumbnail">
							<a class="overlay-link lightbox-link" href="<%= @spot_picture.url %>">
								<%= image_tag(@spot_picture.url) %>
							</a>
						</div>
					</div>
				</article>
				
				<div class="accordion style-2" data-toggle-icon="" data-toggle-multiple="">
					<ul>
						<li class="active">
							<a href="#accordion-2-panel-1"><span class="icon-minus"></span>Ver Mapa</a>
							<div id="accordion-2-panel-1" class="" style="height: 0px;">
								<div class="accordion-content">
									<div class="map-container" data-coordinates="[<%= @spot_picture.location %>]" data-icon='"/assets/map-marker.png"' data-zoom-level="15" data-style="color">
										<div class="map-canvas" id="map-canvas-1"></div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				
				<div class="post-info boxed">
					<div class="row">
						<div class="column width-12">
							<div class="actions">
								<b>TAGS: </b><%= tags_for(@spot_picture) %>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		
		</div>
	</div>
	<hr class="post-finished-indicator" />
	<!-- About Intro End -->
	<%= render partial: 'related_pictures', 
						  locals: { title: "Este lugar en otros tiempos", pictures: @more_pictures_in_another_time } %>
	<%= render partial: 'related_pictures', 
							locals: { title: "Lugares cercanos", pictures: @spot_pictures_nearby } %>
	
</div>


