<div class="section-block replicable-content">
	<div class="row flex">
		<div class="column width-8 push-2 center">
			<p class="lead text-medium">Redescubre la historia de la Ciudad de México con fotografías y textos que hablan de su pasado.</p>
		</div>
	</div>
</div>
<div class="section-block grid-container fade-in-progressively no-margins no-padding">
	<div class="row">
		<div class="column width-6 left">
			<h3 class="mb-mobile-50">Las fotografías más recientes</h3>
		</div>
		<div class="column width-12">
			<div class="row grid content-grid-2">
				<% @recent_pictures.each do |picture| %>
					<div class="grid-item development large">
						<div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.3">
							<a href="<%= picture_path(picture.id, picture.title.parameterize) %>">
								<div style="width: 100%; height: 500px; background-image: url('<%= picture.url %>'); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;"></div>
								<span class="overlay-info">
									<span>
										<span>
											<span class="left inline">
												<span class="project-title"><%= picture.title %></span>
												<span class="project-description"><%= seo_for_keywords(picture) %></span>
											</span>
										</span>
									</span>
								</span>
							</a>
						</div>
					</div>	
				<% end %>
			</div>
		</div>
	</div>
</div>
<div class="section-block">
	<div class="row flex">
		<div class="column width-8 push-2 center">
			<p class="color-grey">Continua viendo las fotografías más recientes en nuestra sección <i><b>Las más recientes</b></i> encontrarás las últimas fotografías de nuestra colección publicadas en este sitio.</p>
			<a class="button medium bkg-theme bkg-hover-charcoal color-white color-hover-white text-uppercase" href="<%= recent_pictures_path %>">Ir a las más recientes</a>
			<hr>
		</div>
	</div>
</div>