<%= render 'shared/header_transparent' %>
<%= render partial: 'shared/metatags', locals: { seo: @seo } %>

<!-- Content -->
<div class="content clearfix">

	<%= render 'slider-pictures' %>

	<!-- Recent pictures -->
	<%= render 'recent-pictures' %>
	
	<!-- Stand out topics -->
	<div class="section-block grid-filter-menu right left-on-mobile no-margins no-padding-top">
		<div class="row no-padding">
			<div class="column width-6 left">
				<h3 class="mb-mobile-50">Fotografías por temas destacados</h3>
			</div>
			<div class="column width-6">
				<ul>
					<li><a class="active" href="#" data-filter="*">Todo</a></li>
					<% @categories.each do |projected_category| %>
						<li>
							<a href="#" data-filter=".<%= projected_category.category.title.parameterize %>">
								<%= projected_category.category.title %>
							</a>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<%= render partial: 'pictures/list', locals: { pictures: @pictures } %>
	<!-- Portfolio Grid End -->

	<!-- Displaying the article of the month -->
	<%= render partial: 'articles/article', locals: { article: @article, title: "Artículo de la semana" } %>

	<!-- Displaying our achievements -->
	<%= render 'difusion' %>

	<!-- Displaying info about ourselves -->
	<%= render 'about' %>

</div>
<!-- Content End -->

		