<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= yield(:page_title) %></title>

	<!-- Font -->
	<link href='https://fonts.googleapis.com/css?family=Raleway:300,400,600%7CLato:300,400,700' rel='stylesheet' type='text/css'>
	
  <%= csrf_meta_tags %>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?sensor=true&libraries=places&key=AIzaSyC9lNNwKeP3BMJ3iM6uFlPaLWl6ZHlpH9k&language=en"></script>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= render 'shared/javascripts' %>
  <%= javascript_include_tag 'application' %>
	
	<!--[if lt IE 9]>
    	<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <%= yield :canonical_url %>
  <%= yield :google_metatags %>
  <%= yield :facebook_metatags %>
  <%= yield :twitter_metatags %>
  <%= yield :schema_microdata %>
  <%= yield :extra_metatags %>
</head>
<body class="shop home-page">
	<div class="wrapper reveal-side-navigation">
		<div class="wrapper-inner">
			<%= yield %>
		</div>
	</div>
	<%= render 'shared/footer' %>
	<!-- Js -->

</body>
</html>